.table-responsive { border:none; }
.center       {
	text-align: center;
	background:white !important;
}
.table-responsive *{
	border: none;
}
.td-class {
	/*border:solid black 2px;*/

}
.table-responsive .td-class{
	height:  90px;
	width: 90px;
}
.solve td{
	width: 30px;
	height: 30px;
	/*background: lightblue;*/
}

.td-class input{
	height:  30px;
	width: 30px;
	border-radius: 30px;
	text-align: center;
	margin: 3px;

}
.border input{
	background: #A1D4CD;
	border:white 0.5px solid;
	color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.middle input{
	background:#FAF6F5;
	border:#A1D4CD 0.5px solid;
	color: #A1D4CD;

}
td.changed    { color: red }
