table-responsive { border:none; }
.center       {
	text-align: center;
	background:white !important;
}
.td-class {
	/*border:solid black 2px;*/
}
.td-class input{
	height:  30px;
	width: 30px;
	border-radius: 30px;
	text-align: center;
	margin: 3px;
}
.border input{
	background: #A1D4CD;
	border:white 0.5px solid;
	color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.middle input{
	background:#FAF6F5;
	border:#A1D4CD 0.5px solid;
	color: #A1D4CD;

}
td.changed    { color: red }
.nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	font-size: 14px;
	text-align: center;
	background: rgba(255,255,255,0.9);
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
	text-transform: uppercase;
}
.nav li {
	display: inline-block;
	margin: 0 .5em;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}
.nav a {
	display: block;
	padding: .8em .6em;
	color: #575758;
	text-decoration: none;
}
.nav a:hover {
	background-color: #ea5745;
	color: white;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
.nav a:active{
	background: black;
	color:white;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
